<%= if @property.is_multi do %>
<%= EdgeDB.EdgeQL.Generator.Render.render(@property.type, :typespec, @opts) %>
<% else %>
<%= EdgeDB.EdgeQL.Generator.Render.render(@property.type, :typespec, @opts) %>
<% end %>

<%= if @property.is_optional do %>
| nil
<% end %>
