name: Styles

on: push

jobs:
  styles:
    name: Run style checks (OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }})

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        otp-version: [23.2.1]
        elixir-version: [1.11]

    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp-version }}
          elixir-version: ${{ matrix.elixir-version }}

      - name: Set up cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: styles-${{ runner.os }}-${{ matrix.otp-version }}-${{ matrix.elixir-version }}-${{ hashFiles('mix.lock') }}

      - name: Install dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: mix deps.get --only test

      - name: Check format
        run: mix format --check-formatted

      - name: Run credo
        run: mix credo --strict

      - name: Run dialyzer
        run: mix dialyzer
