name: Styles

on:
  push:
    branches:
      - "master"

  pull_request:
    branches:
      - "*"

env:
  MIX_ENV: ci

jobs:
  styles:
    name: Check styles

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "25.3.2"
          elixir-version: "1.12.2"

      - name: Set up cache
        uses: actions/cache@v3.0.11
        id: cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: styles-${{ runner.os }}-${{ hashFiles('mix.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: mix deps.get

      - name: Check format
        run: mix format --check-formatted

      - name: Run credo
        run: mix credo --strict

      - name: Run dialyzer
        run: mix dialyzer
