name: Tests

on: push

jobs:
  tests:
    name: Run tests (OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }})

    runs-on: ubuntu-18.04

    strategy:
      matrix:
        otp-version: ["23.2.1"]
        elixir-version: ["1.11"]
        edgedb-version: ["1-rc1"]

    steps:
      - uses: actions/checkout@v2

      # TODO: replace with original action after PR merge
      - uses: nsidnev/setup-edgedb@0ee76335014034ae7f6aff037b70797143dab4b7
        with:
          server-version: ${{ matrix.otp.edgedb-version }}
          cli-version: nightly # TODO: replace with stable when --server-start-conf will be available
          instance-name: edgedb_elixir

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp-version }}
          elixir-version: ${{ matrix.elixir-version }}

      - name: Set up cache
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            deps
            _build
            priv/plts
          key: tests-${{ runner.os }}-${{ matrix.otp-version }}-${{ matrix.elixir-version }}-${{ hashFiles('mix.lock') }}

      - name: Install dependencies
        if: steps.mix-cache.outputs.cache-hit != 'true'
        run: mix deps.get --only test

      - name: Create requried users
        run: |
          mix edgedb.roles.setup

      - name: Run tests
        run: mix coveralls
